body {
  font-family: "Poppins", sans-serif;
  background: #f6f7f9;
  margin: 0;
  color: #333;
}

.header,
.footer {
  text-align: center;
  background: #282c34;
  color: white;
  padding: 1rem 0;
}
/* .main-content, */
.person-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.person-card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  max-width: 100%;
}
.person-card dl {
  display: block;
  grid-template-columns: max-content 1fr;
  gap: 4px 12px;
  margin-top: 0.5rem;
}

.person-card dt {
  font-weight: bold;
}

.person-card dd {
  margin: 10px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form input {
  margin: 10px;
  padding: 5px;
  width: 100%;
}
form label {
  margin: 0 10px;
}
form button,
button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
@media (max-width: 599px) {
  .person-list {
    gap: 1rem;
    padding: 1rem;
  }

  .person-card {
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  .person-list {
    max-width: 1400px;
    gap: 2rem;
  }
}
