body {
  font-family: "Poppins", sans-serif;
  background: #f6f7f9;
  margin: 0;
  color: #333;
}

.header,
.footer {
  text-align: center;
  background: #282c34;
  color: white;
  padding: 1rem 0;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.person-card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

@media (min-width: 600px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}
@media (max-width: 600px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
}

@media (min-width: 900px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
